---
import "../styles/tags.css";
import Card from "@components/Card.astro";
import { type CollectionEntry, getEntry } from "astro:content";

type Project = CollectionEntry<"projects">;
type Blog = CollectionEntry<"blog">;

const posts: Blog[] = Astro.props.posts;
---

<style>
  ul.card-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
</style>
<section>
  <ul class="card-list">
    {
      posts.map(async (post: Blog) => {
        const project: Project | undefined = post.data.project
          ? await getEntry("projects", post.data.project.id)
          : undefined;
        return (
          <li>
            <Card
              heroImage={post.data.heroImage}
              href={`/blog/${post.id}/`}
              title={post.data.title}
              date={post.data.pubDate}
              {project}
              tags={post.data.tags}
            />
          </li>
        );
      })
    }
  </ul>
</section>
