---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

const { posts } = Astro.props;
type Blog = CollectionEntry<"blog">;

function liStyle(post: Blog) {
  const style = {
    "background-image": `url(${post.data.heroImage})`,
  };
  const noHeroImage = {
    "background-color": "var(--bg0_h)",
  };
  return post.data.heroImage ? style : noHeroImage;
}
---

<style>
  ul {
    --animation: 0.2s ease;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul li {
    padding: 2em 1em;
    margin: 1em 0;
    border-radius: 12px;
    background: no-repeat center;
    background-size: 100%;
  }

  ul a {
    position: relative;
    text-decoration: none;
    transition: var(--animation);
  }

  ul li img {
    margin-bottom: 0.5rem;
    border-radius: 12px;
  }

  ul a li {
    display: block;
    transition: background-size var(--animation);
  }

  .title,
  .date {
    color: var(--orange1);
    position: relative;
    z-index: 10;
  }

  .title {
    margin: 0;
    line-height: 1;
  }

  .date {
    margin: 0;
  }

  ul a:hover li .title,
  ul a:hover li .date {
    color: rgb(var(--accent));
  }

  ul a:focus li .title,
  ul a:focus li .date {
    color: rgb(var(--accent));
  }

  ul a:focus li {
    background-size: 105%;
  }

  ul a:hover li {
    background-size: 105%;
  }

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bg0);
    opacity: 0.75;
    height: 100%;
    width: 100%;
    transition: opacity var(--animation);
  }

  ul a:focus li .mask,  ul a:hover li .mask {
    opacity: 0.5;
  }
</style>
<section>
  <ul>
    {
      posts.map((post: Blog) => (
        <a href={`/blog/${post.slug}/`}>
          <li style={liStyle(post)}>
            <h3 class="title">{post.data.title}</h3>
            <p class="date">
              <FormattedDate date={post.data.pubDate} />
            </p>
            <div class="mask" />
          </li>
        </a>
      ))
    }
  </ul>
</section>
