---
import "@styles/card.css";

import TagsList from "@components/TagsList.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { type CollectionEntry, getEntry } from "astro:content";

type Tag = CollectionEntry<"tags">;
type Project = CollectionEntry<"projects">;

const heroImage: string = Astro.props.heroImage;
const href: string = Astro.props.href;
const title: string = Astro.props.title;
const date: Date | undefined = Astro.props.date;
const project: Project | undefined = Astro.props.project;
const tags: Tag[] | undefined = Astro.props.tags;
---

<a
  style={heroImage && {
    "background-image": `url(${heroImage})`,
  }}
  {href}
  class="card"
>
  <h3 class="title">{title}</h3>
  {
    date && (
      <p class="date">
        <FormattedDate {date} />
      </p>
    )
  }
  <TagsList {project} {tags} />
  <div class="mask"></div>
</a>
