---
import type { MarkdownHeading } from "astro";
const { headings } = Astro.props;
---

<style>
  .toc {
    border-radius: 8px;
    padding: 1em;
    background-color: var(--bg1);
  }

  ul {
    --list-spacing: 40px;
    margin: 0;
  }

  nav {
    overflow: hidden;
  }

  input[type="checkbox"] + nav {
    display: none;
  }

  input[type="checkbox"]:checked + nav {
    display: block;
  }

  li.d2 {
    margin-inline-start: calc(var(--list-spacing) * 1);
    list-style-type: circle;
  }

  li.d3 {
    margin-inline-start: calc(var(--list-spacing) * 2);
    list-style-type: square;
  }

  li.d4 {
    margin-inline-start: calc(var(--list-spacing) * 3);
    list-style-type: disc;
  }

  li.d5 {
    margin-inline-start: calc(var(--list-spacing) * 4);
    list-style-type: circle;
  }

  li.d6 {
    margin-inline-start: calc(var(--list-spacing) * 5);
    list-style-type: square;
  }
</style>
<div class="toc">
  <label for="toc-toggle">
    <span class="show">Show contents</span>
  </label>
  <input id="toc-toggle" type="checkbox" />
  <nav>
    <ul>
      {
        headings.map((h: MarkdownHeading) => {
          const className = `d${h.depth}`;
          const href = `#${h.slug}`;
          return (
            <li class={className}>
              <a href={href}>{h.text}</a>
            </li>
          );
        })
      }
    </ul>
  </nav>
</div>
