---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card.astro";
import { type CollectionEntry, getCollection } from "astro:content";

type Project = CollectionEntry<"projects">;

const projects = await getCollection(
  "projects",
  (p: Project) => p.data.published,
);

const description =
  projects.length === 1
    ? `Nick has ${projects.length} project that he would like to share.`
    : `Nick has ${projects.length} projects that he would like to share.`;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={"Projects"} {description} />
    <style>
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <Header />
    <main id="content-start">
      <ul>
        {
          projects.map((project: Project) => (
            <li>
              <Card
                heroImage={project.data.heroImage}
                href={`projects/${project.slug}`}
                title={project.data.name}
                tags={project.data.tags}
              />
            </li>
          ))
        }
      </ul>
    </main>
    <Footer />
  </body>
</html>
